<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Mi primer documento en HTML</title>
</head>
<body>
    <h4>Soy un h4</h4>
    <h1>El tutulo de mi documento</h1>
    <h2>Un subtitulo cualquiera</h2>
    
    <img src="/images/descarga.jpg" alt="">

    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Inventore sint ratione ullam dolorum fugiat illum explicabo quaerat temporibus sequi ipsam non quo cupiditate, accusantium ex suscipit perferendis ea voluptatem. Dolore.</p>

    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Molestias, iste error. Sit, obcaecati temporibus explicabo dignissimos animi earum impedit placeat illo ea possimus nihil, velit veritatis? Rerum veritatis nulla provident.</p>

    <ol>
        <li>Item 1</li>
        <li>Item 2</li>
        <li>Item 3</li>
    </ol>
    <ul>
        <li>Item 1</li>
        <li>Item 2</li>
        <li>Item 3</li>
    </ul>
    <a href="https://www.google.com/">Ir Goolge</a>

</body>
</html>