<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <form action="">
        <p>
            <label for="nombre">Nombre y Apellido</label>
            <input type="text" name="nombre" id="nombre" placeholder="">
        </p>

        <p>
            <label for="usuario">Usuario</label>
            <input type="text" name="usuario" id="usuario" placeholder="">
        </p>

        <p>
        <label for="fecha-nacimiento">Fecha de Nacimiento</label>
        <input type="date" name="fecha-nacimiento" id="fecha-nacimiento" placeholder="">
        </p>
        
        <p>
        <label for="domicilio">Domicilio</label>
        <input type="text" name="domicilio" id="domicilio" placeholder="">
        </p>

        <p>
        <label>Perfil del Usuario </label><br>
        <label>
            <input type="radio"  name="perfil" value="comprar">Comprar
        </label><br>
    
        <label>
            <input type="radio"  name="perfil" value="vender">Vender
        </label>
        </p>

        <label>Categorías de interés</label>
        <label>
           <input type="checkbox" name="categoria" value="electro">Electro
        </label><br>
        <label>
            <input type="checkbox" name="categoria" value="moda">Moda
        </label><br>
        <label>
            <input type="checkbox" name="categoria" value="hogar">Hogar
        </label><br>
        <label>
            <input type="checkbox" name="categoria" value="jugueteria">Juguetería
        </label><br>
        <label>
            <input type="checkbox" name="categoria" value="vida-sana">Vida sana
        </label><br>
    
        <label for="foto-usuario">Foto de Usuario</label>
        <input type="file" name="foto-usuario" id="foto-usuario" accept=".jpg" >
    
        <label for="contraseña">Contraseña</label>
        <input type="password" name="contraseña" id="contraseña">
    
        <label for="confirmar-contraseña">Confirmar Contraseña</label>
        <input type="password" name="confirmar-contraseña" id="confirmar-contraseña">
    
        <button type="submit">Enviar</button>
        <button type="reset">Cancelar</button>
    </form>
</body>
</html>

