*{
  margin: 0px;
  padding: 0px;
}

body{font-family: 'Roboto', sans-serif;
     background-color: #ebebeb;}

h3{font-size: 24px;}

header {background-color: #EAC926;
        font-size: 12px;}

a{text-decoration: none;
  color: black;
  text-align: left;}

.centrar-parrafo{text-align: center;}
.listas-header{text-decoration: none;}
.burger-menu{color: blue;
text-align: center;
font-size: 30px;
color: white;}
