*{
  margin: 0px;
  padding: 0px;
}

body{
    font-family: 'Roboto', sans-serif;
    background-color: #ebebeb;
  }

h3{
  font-size: 24px;
}

p{
  font-size: 12px;
}

header {
  background-color: #EAC926;
  font-size: 12px;
}

header div.top-header{
  padding: 5%;
}

header div.logo{
  width: 50%;
  padding: 10px;
}

header .top-header .form .submit{
  background-color: #FFF;
  border: 1px solid #000;
  color: #666;
  width: 10%;
}

header div.top-header p{
  width: 100%;
  text-align: center;
  margin-top: 10px;
}

header nav{
  font-size: 12px;
}

header nav ul{
  list-style-type: none;
}

header nav ul li a{
  text-decoration: none;
  color: black;
}

header div.burger-menu{
  text-align: center;
}

header div.burger-menu i{
  background-color: #0044aa;
  color: #fff;
  border-radius: 5px;
  font-size: 20px;
  height: 40px;
  width: 40px;
  margin: 10px 0px 20px 0px;
  padding: 10px;
}

article div.main-article{
  width: 100%;
}

.main-article .price{
  font-size: 18px;
}

.discount, .description{
  font-size: 16px;
  font-weight: normal;
}

h3, .description{
  color:#666;
}

section.banner img{
  width: 100%;
}

main{
  width: 90%;
}

main section article img{
  width: 100%;
}

main section article{
  background-color: #FFF;
}

main section article i, .discount{
  color: #39b54a;
}

footer section{
  text-align: center;
}

footer section div{
  margin: 40px;
}

footer section .derecho-autor p{
  text-align: left;
}

footer section div i{
  color:#0044AA;
  font-size: 30px;
}



